
:root {
    --purple: #CCCCFF;
    --blue: #C4E3FC;
}


body {
    background-color: #F6EA7BFF;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
}

rectangle {
 width: 100%;
}