@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

:root {
    --purple: #CCCCFF;
    --blue: #C4E3FC;
}


body {
    background-color: #F6EA7BFF;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
}

.rectangle {
  font-family: 'Sono', sans-serif;
  background-color: #1f1f1f;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.icon-bar {
  width: 400px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
  position: absolute;
  top: 0;
  height: 100vh;

}


.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}


.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}


.active {
  background-color: #04AA6D; /* Add an active/current color */
}
