
:root {
    --purple: #CCCCFF;
    --blue: #C4E3FC;
}


body {
    background-color: #F6EA7BFF;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
}

.content {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
